<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>      
    </configSections>    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>  
  
  <appSettings>
    <add key="tasksList" value="Q3: Take Break,Q3: Interruption,Q1: Urgent issue,Q2: 编程: SmartClock,Q2: 学习: PDP,Q2: 学习: Spring/Spring Boot/REST,Q2: 学习: Java/Java EE,Q2: 学习: Tools/Testing,Q2: 学习: Machine Learning/Python,Q2: 作计划,Q3: 吃饭,Q3: 睡觉,Q3: 买菜,Q3: 上班,Q4: 看股市/玩游戏/上网/看视频" />
  </appSettings>
</configuration>